<div>Draggable One</div>

<h1>Part 1 - draggable</h1>

<div class="box" appDraggable>Draggable</div>

<h1>Part 2 - movable</h1>
<div class="box" appMovable>
  <div class="box" appMovable>
    Movable
  </div>
  <div class="box" appMovable [appMovableReset]="true">
    Movable
  </div>
</div>

<h1>Part 3 - movable area</h1>
<div class="area" appMovableArea>
  <div class="box" appMovable *ngFor="let trapped of trappedBoxes">
    {{trapped}}
  </div>
</div>

<button (click)="add()">Add</button>

<h1>Part 4 - draggable helper</h1>

<div class="box" appDraggable>
  Drag me!

  <div class="box helper" *appDraggableHelper>
    Dragging...
  </div>
</div>